<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Accounts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include 'shared/head_imports.html' %}
  </head>

  <body>
    {% include 'shared/navbar.html' %}

    <div class="uk-container uk-margin-top" style="max-width: 90%">
      <div class="uk-margin uk-section uk-section-default" uk-grid>
        <div
          class="uk-card uk-card-hover uk-card-default uk-card-body uk-width-1-1 uk-padding-small"
        >
          <form id="form-add-account">
            <div uk-grid>
              <div>
                <input
                  class="uk-input uk-form-width-medium"
                  type="text"
                  placeholder="account address"
                  name="url"
                  id="url"
                />
              </div>
              <div>
                <input
                  class="uk-input uk-form-width-medium"
                  type="text"
                  placeholder="account name"
                  name="username"
                  id="username"
                />
              </div>
              <div>
                <input
                  class="uk-input uk-form-width-medium"
                  type="text"
                  placeholder="first name"
                  name="firstname"
                  id="firstname"
                />
              </div>
              <div>
                <input
                  class="uk-input uk-form-width-medium"
                  type="text"
                  placeholder="last name"
                  name="lastname"
                  id="lastname"
                />
              </div>
              <div>
                <button
                  type="button"
                  class="uk-button uk-button-primary"
                  id="bttn-add-account"
                >
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
        <div
          class="uk-card uk-card-hover uk-card-default uk-card-body uk-width-1-1"
        >
          <div class="uk-gird uk-grid-small uk-margin-bottom" uk-grid>
            <div class="uk-width-5-6">
              <h3 class="uk-card-title">accounts</h3>
            </div>
            <div class="uk-width-1-6">
              <button
                id="bttn-verify-many"
                type="button"
                class="uk-button uk-button-primary uk-align-right"
                disabled
              >
                Verify
              </button>
            </div>
          </div>
          <table
            id="accounts-table"
            class="uk-table uk-table-hover display"
            width="100%"
          ></table>
        </div>
      </div>
    </div>

    {% include 'modals/account_details.html' %}

    {% include 'shared/bottom_imports.html' %}

    <script src="{{ url_for('js', path='shared/datatables_definitions.js') }}"></script>
    <script src="{{ url_for('js', path='views/accounts.js') }}"></script>
  </body>
</html>
