<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Accounts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include 'shared/head_imports.html' %}
    <style>
      pre {
        outline: 1px solid #ccc;
        padding: 5px;
        margin: 5px;
      }
      .string {
        color: green;
      }
      .number {
        color: darkorange;
      }
      .boolean {
        color: blue;
      }
      .null {
        color: magenta;
      }
      .key {
        color: red;
      }
    </style>
  </head>

  <body>
    {% include 'shared/navbar.html' %}

    <div class="uk-container uk-margin-top" style="max-width: 90%">
      <div class="uk-margin uk-section uk-section-default" uk-grid>
        <div
          class="uk-card uk-card-hover uk-card-default uk-card-body uk-width-1-1"
        >
          <div class="uk-gird uk-grid-small uk-margin-bottom" uk-grid>
            <div class="uk-width-5-6">
              <h3 class="uk-card-title">verifications</h3>
            </div>
            <div class="uk-width-1-6">
              <button
                id="bttn-restore-many"
                type="button"
                class="uk-button uk-button-primary uk-align-right"
                disabled
              >
                Restore
              </button>
            </div>
          </div>
          <table
            id="verifications-table"
            class="uk-table uk-table-hover display"
            width="100%"
          ></table>
        </div>
      </div>
    </div>

    {% include 'modals/verification_results.html' %}

    {% include 'shared/bottom_imports.html' %}

    <script src="{{ url_for('js', path='shared/datatables_definitions.js') }}"></script>
    <script src="{{ url_for('js', path='views/verifications.js') }}"></script>
  </body>
</html>
